$primary-bgColor : #1A1E49;
$secondary-bgColor: #1E2356;
$orange-color: #FA5C6D;
$border-color: #9EA2C5;
$linear-color: linear-gradient(180deg, #FA5C6D 0%, #F9574B 100%); 
$fontfamily-primary: Manrope;
$fontfamily-secondary: Syne;
$primay-fontColor: #FFFFFF;
$secondary-fontColor: rgba(255, 255, 255, 0.8);
$card_fontColor: #C1C5E0;
$gap-xs: 4px;
$gap-sm: 8px;
$gap-md: 16px;
$gap-md-second: 24px;
$gap-lg: 32px;
$gap-xl: 64px;
$component-gap: 120px;
$line-hight-primary: 120%;
$line-hight-secondary: 170%;






