@import "../../../assets/variable.scss";

.home{
    width: 100%;
    max-width: 1920px;
    margin: auto;
    // background-color: #1A1E49;

    .home__container{
        width: 100%;
        
    }
}